<footer class="top-footer">
    <div class="grid-container" style="margin-top:5px;">
        <div class="grid-x grid-margin-x grid-padding-x text-center">
            <div class="cell small-6 medium-3 large-3 small-order-1 medium-order-1 large-order-1" style="margin-top: 10px;">
                <a onclick="navigateTargetUrl('http://www.nogizaka46.com/producer/'); return false;">
                    <h6 style="font-weight:bold;">PRODUCER <img src="/images/footer-menu-icon.png" width="50"></h6>
                </a>
            </div>
            <div class="cell small-6 medium-3 large-3 small-order-3 medium-order-2 large-order-2">
                <a onclick="navigateTargetUrl('http://www.nogizaka46.com/'); return false;">
                    <img src="/images/official-jp-site.jpg" width="200">
                </a>
            </div>
            <div class="cell small-6 medium-3 large-3 small-order-4 medium-order-3 large-order-3">
                <a onclick="navigateTargetUrl('https://shop.buyee.jp/nogizaka46shop'); return false;">
                    <img src="/images/official-jp-shop.png" width="200">
                </a>
            </div>
            <div class="cell small-6 medium-3 large-3 small-order-2 medium-order-4 large-order-4">
                <h6 style="font-weight:bold;">联系我们</h6>
                <a href="mailto:support@nogizaka46-cn.com">
                    <h6>support@nogizaka46-cn.com<br/>
                        (工作日 10:00~19:00）
                    </h6>
                </a>
            </div>
        </div>
    </div>
    <!-- /.grid-container -->
</footer>

<footer class="bottom-footer">
    <div class="grid-container">
        <div class="grid-x grid-padding-y">
            <div class="cell small-12">
                <ul class="menu align-center">
                </ul>
                <p class="copyright text-left">
                    ©乃木坂46LLC<br>
                    <a href="https://beian.miit.gov.cn" target="_blank">沪ICP备19037695号-1</a> &nbsp;|&nbsp;沪 B2-20160003<br>
                    COPYRIGHT 2019 ©ALL RIGHTS RESERVED<br>
                    技术支持 Access Bright 上海通耀信息科技有限公司<br>
                    本页面所有内容版权归©乃木坂46中国会员站所有，授权范围内使用，违者将追究法律责任。
                </p>
            </div>
            <!-- /.cell -->
        </div>
        <!-- /.grid -->
    </div>
    <!-- /.grid-container -->
</footer>