<head>
    <title>乃木坂46中国会员站</title>
    <meta charset="utf-8">
    <meta name="description" content="乃木坂46中国会員站 - 乃木坂46中国会员站">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="B8eHkkv9kwCWkhgJ7WXh2JwjwOUz3IcN09PVvoDt">

    <!-- Open Graph -->
    <meta property="og:site_name" content="乃木坂46中国会员站" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="/images/logo.png" />
    <meta property="og:description" content="乃木坂46中国会員站" />

    <!-- Icons -->
    <meta name="msapplication-TileImage" content="ms-tile-icon.png" />
    <meta name="msapplication-TileColor" content="#8cc641" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/images/logo.png" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">



    <script>
        // a タグの href 属性に記述された URL を、新規ウィンドウで開く関数
        function navigateTargetUrl(url) {
            window.open(url, null, "noopener");
        }
    </script>

    <!-- フラッシュメッセージ -->
    <!--
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    -->
    <link rel="stylesheet" type="text/css" href="/css/toastr.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <style type="text/css">
        #toast-container {
            margin-top:100px;
        }
    </style>

</head>